<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Geojit Welcome Lletter</title>
<style type="text/css">
<!--
.style1 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #03A7A9;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.style4 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; }
-->
</style>
</head>

<body>
<div align="center">
  <table width="639" border="0" cellspacing="0" cellpadding="2">
    <tr>
      <td width="321" height="57"><table width="656" height="90" border="0" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC">
        <tr>
          <td height="88" align="center" bgcolor="#FFFFFF"><img width=241 height=82
    src=cid:geojitLogo v:shapes="_x0000_i1025"><a href="http://www.geojit.com/" class="style1"></a><a href="http://www.geojit.com/" class="style2"><br />
            <span class="style1">www.geojit.com</span></a></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td><p align="justify" class="style1"><strong>&nbsp;</strong>Dear <CUSTNAME>, </p>
        <p align="justify" class="style1">We have received your request for new PIN on  <DATE>. Your new PIN is mentioned in the attached  pdf document. </p>
        <p align="justify" class="style1">Please note that you will be prompted for  your document key while opening the&nbsp;PDF Document. You may enter your  TIN&nbsp; + first four characters of your PAN  number as the pdf key.</p>
        <p align="justify" class="style1">You need Adobe Acrobat Reader 6.0  or above to open the attached file. Click here to download <u><a href="http://www.adobe.com/products/acrobat/readstep2.html" target="_blank">Adobe Acrobat Reader 6.0</a></u></p>
        <p align="justify" class="style1">We advise you to change your PIN immediately  after the first login for security reason. </p>
        <p align="justify" class="style1">Should you require any help, you may call  our Customer Care Center at <TOLLFREE>  (Toll Free India &ndash; accessible from mobile and landline supported by most  service providers) or <PAIDLINE> (standard rates apply) accessible from 9:30  a.m. to 6:00 p.m. from Monday to Friday and from 10.00 a.m. to 1:00 p.m. on  Saturday. Our Customer Care Center will be happy to assist you.</p>
        <p align="justify" class="style1">We  will be happy to receive your suggestions and feedback about your Geojit  experience at customercare@geojit.com </p>
        <p align="justify" class="style2">Happy  Trading!!</p>
        <p align="justify" class="style1"><span class="style4">Warm Regards,<br />
          Customer Care<br />
          Geojit BNP Paribas<br />
&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
        <p align="justify" class="style1"><strong>'Never disclose your  password to anyone. Only you can safeguard your own security.</strong><br />
        </p>
        <table width="656" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
          <tr>
            <td width="656" height="85" bgcolor="#FFFFFF" class="style1"><p align="justify"><strong><u>Disclaimer</u></strong> <br />
The information contained in this electronic    message and any attachments to this message are intended for the exclusive    use of the addressee(s) and may contain proprietary, confidential or    privileged information. If you are not the intended recipient, you should not    disseminate, distribute or copy this e-mail. Please notify the sender    immediately and destroy all copies of this message and any attachments</p></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
</body>
</html>
