<html>
		<head>
		<meta http-equiv=Content-Type content=text/html; charset=iso-8859-1 />
		<title>Geojit Online Trading</title>
		</head>

		<body>
		<table cellspacing=1 cellpadding=0 width=98% align=center bgcolor=#148f91 border=0>
		  <tbody>
			<tr>
			  <td bgcolor=#ffffff><table height=166 cellspacing=0 cellpadding=0 width=100% align=center border=0>
				<tbody>
				  <tr>
					<td width=465><img src=cid:geojitLogo alt=geojit width=241 height=82 /></td>
					<td width=135><a href=http://www.geojit.com target=_blank>www.geojit.com</a></td>
				  </tr>
				  <tr>
					<td colspan=2><hr width=100% color=#0e898b size=1 />
					</td>
				  </tr>
				  <tr>
					<td colspan=2 height=9><table cellspacing=0 cellpadding=10 width=100% border=0>
					  <tbody>
						<tr>
						  <td><p> 
							 <br/>Dear NAME_TEPLATE <br/></p> 
							 <p>This is to inform that your PURCHASE request  PROCESSTATUS_TEMPLATE</p> 
							 <p> BODY_TEPLATE <br/></p> 
							 
							 <p> 
							 Note:This is a computer generated e-mail and does not require a signature. 
							 </p> <hr/>
							</td>
						</tr>
					  </tbody>
					</table>
					</td>
				  </tr>
				  <tr>
					<td colspan=2 height=10><table cellspacing=0 cellpadding=10 width=600 border=0>
					  <tbody>
				
						<tr>
						  <td><p>For support you can contact our call centre in Toll Free No.   1800 425 5501(BSNL &amp; MTNL only) or 
							0484 - 2405822(charged) or by sending email to <a href=mailto:customercare@geojit.com>customercare@geojit.com</a><br />
							<br />
							Warm Regards,</p>
								  <p>Geojit Customer Care</p> 
				 
					  **************************************************************************************************** 
					   <p>The thumb-rule of Internet transactions Never disclose your password to anyone. Only you can safeguard your own security. </p>
					 **************************************************************************************************** 
				 
						</td> 
					</tr> 
				
				 
					  </tbody>
					</table></td>
				  </tr>
				  <tr>
					<td colspan=2 height=19> </td>
				  </tr>
				  <tr>
					<td valign=center align=middle bgcolor=#0e898b colspan=2 height=27>Call : 1800-425-5501 (toll   free)</td>
				  </tr>
				</tbody>
			  </table></td>
			</tr>
		  </tbody>
		</table>
		</body>
</html>