<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Geojit Welcome Lletter</title>
<style type="text/css">
<!--
.style1 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.geod1scl {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    color: #b80040
}
.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #03A7A9;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.style4 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; }
.style6 {font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; }
.style7 {font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style8 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; } a:hover {text-decoration: underline;}
-->
</style>
</head>

<body>
<div align="center">
  <table width="639" border="0" cellspacing="0" cellpadding="2">
    <tr>
      <td width="321" height="57"><table width="656" height="90" border="0" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC">
        <tr>
          <td height="88" align="center" bgcolor="#FFFFFF"><img src=cid:geojitLogo width="263" height="65" /><a href="http://www.geojit.com/" class="style1"></a><a href="http://www.geojit.com/" class="style2"><br />
            <span class="style1">www.geojit.com</span></a></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td align="left" valign="top"><p align="justify" class="style7">Dear  <CUSTNAME>,
          <BODY DIR="LTR">
</p>
        <p align="left" class="style6">
          <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">We  thank you for selecting Geojit as your preferred investment partner.  Kindly note that your trading / investment account has been  transferred to the location as per details given below: </p>
        <p align="justify" class="style1"><span class="style7"><strong>Account  Information</strong></span></p>
        <table width="659" border="0" cellpadding="10" cellspacing="1" bordercolor="#999999" bgcolor="#CCCCCC" class="style1">
          <col width="107*" />
          <col width="149*" />
          <tr valign="top">
            <td width="51%" bgcolor="#FFFFFF" class="style6"><p align="justify">Trade  			code</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify">
              <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><!--  		@page { margin: 0.79in }  		P { margin-bottom: 0.08in }  	--><TRADECODE></p>
            </td>
          </tr>
          <tr valign="top">
            <td width="51%" bgcolor="#FFFFFF" class="style6"><p align="justify">TIN(TelephoneIdentification Number)</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify"><TIN></p></td>
          </tr>
          <tr valign="top">
            <td width="51%" bgcolor="#FFFFFF" class="style6"><p align="justify">DP  			Client ID</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify"><DPCLIENTID></p></td>
          </tr>
          <tr valign="top">
            <td width="51%" bgcolor="#FFFFFF" class="style6"><p align="justify">DP  			ID</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify"><DPID></p></td>
          </tr>
          <tr valign="top">
            <td width="51%" bgcolor="#FFFFFF" class="style6"><p align="justify">Registered  			Email id</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify"><EMAIL></p></td>
          </tr>
          <tr valign="top">
            <td width="51%" height="67" bgcolor="#FFFFFF" class="style6"><p align="justify">Registered  			Contact Nos.</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify"> Mobile:<CLMOBILE></p>
            <p align="justify">Landline:<CLPHONE></p></td>
          </tr>
        </table>
        <p align="justify" class="style7"><strong>Branch  Details: </strong> </p>
        <table width="658" border="0" cellpadding="7" cellspacing="1" bordercolor="#000000" bgcolor="#CCCCCC" class="style1">
          <col width="95*" />
          <col width="161*" />
          <tr valign="top">
            <td width="51%" bgcolor="#FFFFFF" class="style6"><p align="justify">Branch  			Name</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify"><BRANCHNAME></p></td>
          </tr>
          <tr valign="top">
            <td width="51%" bgcolor="#FFFFFF" class="style6"><p align="justify">Branch  			Code</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify"><BRANCHCODE></p></td>
          </tr>
          <tr valign="top">
            <td width="51%" bgcolor="#FFFFFF" class="style6"><p align="justify">Branch  			Phone Nos.:</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify"><BRANCHPHONE></p></td>
          </tr>
          <tr valign="top">
            <td width="51%" bgcolor="#FFFFFF" class="style6"><p align="justify">Branch  			Email id</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify"><U><a href=""><BRANCHEMAIL></a></U></p></td>
          </tr>
          <tr valign="top">
            <td width="51%" bgcolor="#FFFFFF" class="style6"><p align="justify">Branch  			Timings</p></td>
            <td width="49%" bgcolor="#FFFFFF" class="style6"><p align="justify"> 8:30 a.m. to 5:30 p.m. &ndash;  			Monday to Friday</p>
            <p align="justify">10:00  			a.m. to 1:00 p.m. Saturday</p></td>
          </tr>
        </table>
	<br />
	<table border="0" cellpadding="5" cellspacing="1" bgcolor="#999999">
          <tr>
            <td width="626" valign="middle" align="center" bgcolor="#FFFFFF" class="style1"><br />
			<a href="https://gcc.geojit.net/html/DosAndDonts.html" class="style1"><span class="style8">DO's and DON'T's for trading </span></a></td>
          </tr>
	</table>
        <p align="justify" class="style6"><strong>Customer  Care Center Details:</strong></p>
        <table width="659" border="0" cellpadding="7" cellspacing="1" bordercolor="#000000" bgcolor="#CCCCCC" class="style1">
          <col width="50*" />
          <col width="206*" />
          <tr valign="top">
            <td width="25%" bgcolor="#FFFFFF"><p align="justify" class="style6">Toll  			Free No.</p></td>
            <td width="75%" bgcolor="#FFFFFF"><p align="justify" class="style6"><TOLLFREE>  			- accessible from mobile &amp; landline and supported by most  			service providers</p></td>
          </tr>
          <tr valign="top">
            <td width="25%" bgcolor="#FFFFFF"><p align="justify" class="style6">Paid  			Line No.</p></td>
            <td width="75%" bgcolor="#FFFFFF"><p align="justify" class="style6"><PAIDLINE>  			(standard rates apply)</p></td>
          </tr>
          <tr valign="top">
            <td width="25%" bgcolor="#FFFFFF"><p align="justify" class="style6">Timings</p></td>
            <td width="75%" bgcolor="#FFFFFF"><p align="justify" class="style6"> 8:30 a.m. to 5:30 p.m. &ndash;  			Monday to Friday and </p>
            <p align="justify" class="style6">10.00  			a.m. to 1:00 p.m. &ndash; Saturday</p></td>
          </tr>
          <tr valign="top">
            <td width="25%" bgcolor="#FFFFFF"><p align="justify" class="style6">Email</p></td>
            <td width="75%" bgcolor="#FFFFFF"><p align="justify" class="style6"><a href="mailto:<CUSTCAREMAILID>"><CUSTCAREMAILID1></a></p></td>
          </tr>
          <tr valign="top">
            <td width="25%" bgcolor="#FFFFFF"><p align="justify" class="style6">Website</p></td>
            <td width="75%" bgcolor="#FFFFFF"><p align="justify" class="style6"> <span class="style6"><U><a href="http://www.geojit.com/">www.geojit.com</a></U> - You may visit this website for latest news, stock market quotes,  			financials and relevant company information, IPO, mutual fund  			details and much more</span></p>
                <p align="justify" class="style6">&nbsp;</p>
            <p align="justify" class="style6">Customer  			Care site: Your transaction information, demat holdings, ledger  			balances, general information, etc. can be viewed in our secure  			Customer Care website <U><a href=" https://gcc.geojit.net"> https://gcc.geojit.net</a></U></p></td>
          </tr>
        </table>
        <p class="style6">Your existing TIN / PIN and password remain unchanged. Customer Care site password is enabled only if you have provided your email id. </p>
        <p align="justify" class="style6">We  will be happy to receive your suggestions and feedback about your  Geojit experience at customercare@geojit.com. </p>
         <p align="justify" class="geod1scl"> <GEOCUSTDISCLSRE>  </p>
        <p align="justify" class="style2">Happy  Trading!!</p>
        <p align="justify" class="style1"><span class="style7">Warm Regards,</span><span class="style4"><br />
          </span><span class="style7">Customer Care<br />
           Geojit BNP Paribas</span><br />
&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p align="center" class="style7"><strong>'Never  disclose your password to anyone. Only you can safeguard your own  security.'</strong></p>
        <table width="656" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
          <tr>
            <td width="656" height="85" bgcolor="#FFFFFF" class="style1"><p align="justify" class="style6"><U><strong>Disclaimer<br />
            </strong></U>The  information contained in this electronic message and any attachments  to this message are intended for the exclusive use of the  addressee(s) and may contain proprietary, confidential or privileged  information. If you are not the intended recipient, you should not  disseminate, distribute or copy this e-mail. Please notify the sender  immediately and destroy all copies of this message and any  attachments</p>
            </td>
          </tr>
        </table>      </td>
    </tr>
    
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
