<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Geojit Welcome Lletter</title>
<style type="text/css">
<!--
.style1 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #03A7A9;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.style4 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; }
.geod1scl {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    color: #b80040
}
.style7 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; } a:hover {text-decoration: underline;}
-->
</style>
</head>

<body>
<div align="center">
  <table width="639" border="0" cellspacing="0" cellpadding="2">
    <tr>
      <td width="321" height="57"><table width="656" height="90" border="0" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC">
        <tr>
          <td height="88" align="center" bgcolor="#FFFFFF"><img width=241 height=82 src=cid:geojitLogo v:shapes="_x0000_i1025"><a href="http://www.geojit.com/" class="style1"></a><a href="http://www.geojit.com/" class="style2"><br />
            <span class="style1">www.geojit.com</span></a></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td><p class="style1">Dear <CUSTNAME>,</p>
        <p align="justify" class="style1">We thank you for selecting Geojit as your preferred  investment partner and welcome you to Geojit family. Geojit is one of the  largest financial service providers in the retail segment in and outside India.  Geojit, with 22 years of experience in the financial markets, has more than  4.50 lac clients, Rs.6600 crore of assets under management, 500 locations to  serve you. Geojit&rsquo;s single largest shareholder, BNP Paribas, is a European  leader in global banking and financial services and&nbsp;one of the 3 strongest  banks in the world according to Standard &amp; Poor&rsquo;s (S&amp;P), the world's  leading provider of investible equity indices.</p>
        <p class="style1">We are pleased to inform that you have completed the  registration formalities and can now start trading. You may note the  information given below:</p>
        <p class="style1"><strong>Account  Information:</strong></p>
        <table border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
          <tr>
            <td width="215" valign="middle" bgcolor="#FFFFFF" class="style1"><br />
              Trade code </td>
            <td width="401" valign="middle" bgcolor="#FFFFFF"><p class="style1"><TRADECODE></p></td>
          </tr>
          <tr>
            <td width="215" valign="middle" bgcolor="#FFFFFF"><p class="style1">TIN (Telephone Identification Number)</p></td>
            <td width="401" valign="middle" bgcolor="#FFFFFF"><p class="style1"><TIN></p></td>
          </tr>
          <tr>
            <td width="215" valign="middle" bgcolor="#FFFFFF"><p class="style1">DP Client ID</p></td>
            <td width="401" valign="middle" bgcolor="#FFFFFF"><p class="style1"><DPCLIENTID></p></td>
          </tr>
          <tr>
            <td width="215" valign="middle" bgcolor="#FFFFFF"><p class="style1">DP ID</p></td>
            <td width="401" valign="middle" bgcolor="#FFFFFF"><p class="style1"><DPID></p></td>
          </tr>
          <tr>
            <td width="215" valign="middle" bgcolor="#FFFFFF"><p class="style1">Registered Email id</p></td>
            <td width="401" valign="middle" bgcolor="#FFFFFF"><p class="style1"><EMAIL></p></td>
          </tr>
          <tr>
            <td width="215" valign="middle" bgcolor="#FFFFFF"><p class="style1">Registered Contact Nos.</p></td>
            <td width="401" valign="middle" bgcolor="#FFFFFF"><p class="style1">Mobile: <CLMOBILE> <br />
              Landline: <CLPHONE> </p></td>
          </tr>
        </table>
        <p class="style1"><strong>Branch  Details: </strong></p>
        <table border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
          <tr>
            <td width="214" valign="top" bgcolor="#FFFFFF" class="style1"><br />
              Branch Name </td>
            <td width="402" valign="top" bgcolor="#FFFFFF"><p class="style1"><BRANCHNAME></p></td>
          </tr>
          <tr>
            <td width="214" valign="top" bgcolor="#FFFFFF"><p class="style1">Branch Code</p></td>
            <td width="402" valign="top" bgcolor="#FFFFFF"><p class="style1"><BRANCHCODE></p></td>
          </tr>
          <tr>
            <td width="214" valign="top" bgcolor="#FFFFFF"><p class="style1">Branch Phone Nos.:</p></td>
            <td width="402" valign="top" bgcolor="#FFFFFF"><p class="style1"><BRANCHPHONE></p></td>
          </tr>
          <tr>
            <td width="214" valign="top" bgcolor="#FFFFFF"><p class="style1">Branch Email id</p></td>
            <td width="402" valign="top" bgcolor="#FFFFFF"><p class="style1"><a href="mailto:kb@geojit.com"><BRANCHEMAIL></a></p></td>
          </tr>
          <tr>
            <td width="214" valign="top" bgcolor="#FFFFFF"><p class="style1">Branch Timings</p></td>
            <td width="402" valign="top" bgcolor="#FFFFFF"><p class="style1">8:30 a.m. to 5:30 p.m. &ndash; Monday to Friday<br />
              10:00 a.m. to 1:00 p.m. Saturday</p></td>
          </tr>
        </table>
	<br />
	<table border="0" cellpadding="5" cellspacing="1" bgcolor="#999999">
          <tr>
            <td width="626" valign="middle" align="center" bgcolor="#FFFFFF" class="style1"><br />
			<a href="https://gcc.geojit.net/html/DosAndDonts.html" class="style1"><span class="style7">DO's and DON'T's for trading </span></a></td>
          </tr>
	</table>
        <p class="style1"><strong>Customer  Care Center Details:</strong></p>
        <table border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
          <tr>
            <td width="212" valign="top" bgcolor="#FFFFFF" class="style1"><br />
              Toll Free No. </td>
            <td width="404" valign="top" bgcolor="#FFFFFF"><p align="justify" class="style1"><TOLLFREE> - accessible from mobile &amp;    landline and supported by most service providers </p></td>
          </tr>
          <tr>
            <td width="212" valign="top" bgcolor="#FFFFFF"><p class="style1">Paid Line No.</p></td>
            <td width="404" valign="top" bgcolor="#FFFFFF"><p class="style1"><PAIDLINE> (standard rates apply) </p></td>
          </tr>
          <tr>
            <td width="212" valign="top" bgcolor="#FFFFFF"><p class="style1">Timings</p></td>
            <td width="404" valign="top" bgcolor="#FFFFFF"><p class="style1">8:30 a.m. to 5:30 p.m. &ndash; Monday to Friday and <br />
  10.00 a.m. to 1:00 p.m. &ndash; Saturday </p></td>
          </tr>
          <tr>
            <td width="212" valign="top" bgcolor="#FFFFFF"><p class="style1">Email</p></td>
            <td width="404" valign="top" bgcolor="#FFFFFF"><p class="style1"><a href="mailto:<CUSTCAREMAILID1>"><CUSTCAREMAILID2></a></p></td>
          </tr>
          <tr>
            <td width="212" valign="top" bgcolor="#FFFFFF"><p class="style1">Website</p></td>
            <td width="404" valign="top" bgcolor="#FFFFFF"><p align="justify" class="style1"><a href="http://www.geojit.com/">www.geojit.com</a> - You may visit this website for latest news, stock market quotes, financials    and relevant company information, IPO, mutual fund details and much more</p>
                <p align="justify" class="style1">Customer Care site: Your transaction information,    demat holdings, ledger balances, general information, etc. can be viewed in    our secure Customer Care website <a href=" https://gcc.geojit.net"> https://gcc.geojit.net</a></p></td>
          </tr>
        </table>
        <p class="style1"><strong>Settlement  Schedule for transactions executed at the stock exchanges:</strong></p>
        <table border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
          <tr>
            <td width="213" valign="top" bgcolor="#FFFFFF" class="style1"><br />
              Contract Notes </td>
            <td width="403" valign="top" bgcolor="#FFFFFF"><p class="style1">Dispatch within 24 hours</p></td>
          </tr>
          <tr>
            <td width="213" valign="top" bgcolor="#FFFFFF"><p class="style1">Funds Pay-in</p></td>
            <td width="403" valign="top" bgcolor="#FFFFFF"><p align="justify" class="style1">All your fund obligations have to be settled on    the transaction day. Please ensure that payments are made from your bank    account registered with us. Payment made from third party accounts will not    be accepted as per the prevailing regulations</p></td>
          </tr>
          <tr>
            <td width="213" valign="top" bgcolor="#FFFFFF"><p class="style1">Securities Pay-in</p></td>
            <td width="403" valign="top" bgcolor="#FFFFFF"><p class="style1">Shares sold should be delivered to Geojit&rsquo;s pool    account from your registered demat account on the transaction day</p></td>
          </tr>
          <tr>
            <td width="213" valign="top" bgcolor="#FFFFFF"><p class="style1">Funds Payout</p></td>
            <td width="403" valign="top" bgcolor="#FFFFFF"><p class="style1">Within 24 hours of receiving payout of funds from    the Exchange</p></td>
          </tr>
          <tr>
            <td width="213" valign="top" bgcolor="#FFFFFF"><p class="style1">Securities Payout</p></td>
            <td width="403" valign="top" bgcolor="#FFFFFF"><p class="style1">Within 24 hours of receiving payout of shares from    the Exchange</p></td>
          </tr>
        </table>
        <p class="style1">For Online trading please&nbsp;ensure to configure your  computer as per the following settings:</p>
        <table width="623" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
          <tr>
            <td width="214" bgcolor="#FFFFFF" class="style1"><br />
              Requirements </td>
            <td width="135" bgcolor="#FFFFFF"><p class="style1">Minimum</p></td>
            <td width="240" bgcolor="#FFFFFF"><p class="style1">Recommended</p></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF"><p class="style1">1.Internet    Explorer&nbsp;</p></td>
            <td width="135" bgcolor="#FFFFFF"><p class="style1">Version    6.0&nbsp;</p></td>
            <td width="240" bgcolor="#FFFFFF"><p class="style1">Version    6.0 with latest update Version SP1</p></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF"><p class="style1">2.    Java Runtime Environment</p></td>
            <td width="135" bgcolor="#FFFFFF"><p class="style1">Version    1.4</p></td>
            <td width="240" bgcolor="#FFFFFF"><p class="style1">Version    1.5.0</p></td>
          </tr>
          <tr>
            <td bgcolor="#FFFFFF"><p class="style1">3.    Pop up blocker</p></td>
            <td width="135" bgcolor="#FFFFFF"><p class="style1">Disabled</p></td>
            <td width="240" bgcolor="#FFFFFF"><p class="style1">Disabled</p></td>
          </tr>
        </table>
        <p class="style1">The  attached PDF document contains the following information:</p>
        <ol>
          <li> <span class="style1">Trading  password and Customer Care site password </span></li>
          <li> <span class="style1">PIN  {Personal Identification Number} for calling Geojit Customer Care Center<br />
            &nbsp;</span></li>
        </ol>
        <p class="style1">We  advise you to change your password / PIN immediately after the first login for  security reason. </p>
        <p class="style1">Please note that you will be prompted for password while trying to open the PDF attachment. You may enter your TIN followed by first four characters of your PAN ( in CAPITAL letters ) as the password for the pdf attachment.<a align="justify" class="style1" style="color: red"> For Eg: 681245ABBC</a>. Our Customer Care executives will give you a Welcome Call </p>
        <p class="style1">You need Adobe Acrobat Reader 6.0 or above to open the attached file.  Click here to download <u><a href="http://www.adobe.com/products/acrobat/readstep2.html" target="_blank">Adobe  Acrobat Reader 6.0</a></u></p>
        <p align="justify" class="style1">For Online trading, visit our site <a href="http://www.geojit.com/">www.geojit.com</a>, click 'Login to Trade',  enter the Trade Code as User Name and trading password to start trading online.  For Online  customers, the password is common for logging to the trading site and the Customer Care site.</p>
        <p align="justify" class="style1">For logging to the Customer Care website, go to <a href="http://www.geojit.com/">www.geojit.com</a>, click &lsquo;Customer Care&rsquo; link, or go  to <a href=" https://gcc.geojit.net"> https://gcc.geojit.net</a> enter your trade code as  user name and the customer  care site password. Customer Care site password is enabled only if email id is provided. </p>
        <p class="style1">Enter your TIN and PIN while you call our dedicated  Customer Care Center for trading, customer support and product information.</p>
        <p align="justify" class="style1">You may please note that there is a risk of making loss while trading  in stocks and derivatives and you should carefully consider your financial position  before making any trades. Please note that we have not authorized any of our  staff including dealers to trade on client&rsquo;s behalf and request you to also  refrain from such authorization or oral instructions. We advice you to take  your investment decision on sound advice from reliable sources only as it may  end in losses .We shall not be responsible for any claims for the same.</p>
        <p class="style1">We will be happy to receive your suggestions and feedback about your  Geojit experience at <CUSTCAREMAILID>.</p>
         <p class="geod1scl"><GEOCUSTDISCLSRE></p>
        <p class="style2">Happy Trading!!</p>
        <p class="style4">Warm Regards,<br />
          Customer Care<br />
           Geojit Financial Services Ltd<br />
&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p align="center" class="style1"><strong>'Never disclose your  password to anyone. Only you can safeguard your own security.'</strong></p>
        <table width="656" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
          
          <tr>
            <td width="656" height="85" bgcolor="#FFFFFF" class="style1"><p align="justify"><strong><u>Disclaimer<br />
            </u></strong>The information contained in this electronic  message and any attachments to this message are intended for the exclusive use  of the addressee(s) and may contain proprietary, confidential or privileged  information. If you are not the intended recipient, you should not disseminate,  distribute or copy this e-mail. Please notify the sender immediately and  destroy all copies of this message and any attachments</p>            
              </td>
          </tr>
        </table>
      <div align="center"></div></td>
    </tr>
  </table>
</div>
</body>
</html>
